# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS files
.DS_Store

# IDE - Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build folders
build/